<!DOCTYPE html>
<html lang = "en" xmlns:th=“http://www.thymeleaf.org”>
<head>
		<meta charset = "utf-8">
		<title>Edit Product Page</title>
		<link rel = "stylesheet" type = "text/css" th:href="@{/cssfiles/index.css}">
	</head>
<body>
<div class="banner">
			
	
	<form th:action=" @{'/edit/product/' + ${ product.productID }} " class="form" method="post">
 		<h2>Edit Product</h2>
 		<label>Product ID:</label>
 		<br>
 		<input th:value="${ product.productID }" disabled size="45" type="text" name="id"/><br><br>
	 	<label>Product Name:</label>
	 	<br>
 		<input th:value="${ product.productName }" size="45" type="text" name="name" value=""/><br><br>
	 	<label>Product Price:</label>
	 	<br>
	 	<input th:value="${ product.productPrice }" size="45" type="text" name="price" value=""/><br><br>
	 	<label>Image File Name:</label>
	 	<br>
	 	<input th:value="${ product.productPath }" size="45" type="text" name="file" value=""/><br><br>
 		<label>Availability:</label>
 		<br>
		<select name="available">
		<option >Select an Option</option>
		<option value="true">Yes</option>
		<option value="false">No</option>
		</select>
	 	<div class="flex">
	 	<div id="left">
 		<button>Confirm Edit</button>
 		</div>
 		
 		<div id="right">
 		
 		<a th:href="@{ / }"><button>Go back</button></a>
 		
 		</div>
 		
 		</div>
 		
 		</form>

			<div class = "bottomnavbar">
				<p> Copyright 2022 </p>
			</div>
		

 </div>
 
</body>
</html>