<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Retail and Distribution</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<div class="banner">
		<div class="navbar">
			<a href="index.html">
				<img src="../images/logo.png" class="logo">
			</a>
			<ul>
				<li><a href="index.html"> Home</a>
				<li>
				<li><a href="product.html"> Products</a>
				<li>
				<li><a href="register_product.html"> Register Product</a>
				<li>
				<li><a href="search.html"> Search Product</a>
				<li>
				<li><a href="support.html"> Support</a>
				<li>
			</ul>
		</div>
		<div class="content">
			<h1>Technology - Here Is The Future</h1>
			<p>Come get your technology here</p>
		</div>
		<div class="brand">
			<div class = "size" style="grid-area:one">
				<img class="kotak" src="../images/acer.png">
			</div>

			<div class = "size" style="grid-area:two">
				<img class="kotak" src="../images/steelseries.png">
			</div>

			<div class = "size" style="grid-area:three">
				<img class="kotak" src="../images/msi.png">
			</div>

			<div class = "size" style="grid-area:four">
				<img class="kotak" src="../images/asus.png">
			</div>

			<div class = "size" style="grid-area:five">
				<img class="kotak" src="../images/dell.png">
			</div>
			<footer>

				<div class="bottomnavbar">
					<p>&#169; Copyright 2022 </p>
				</div>
			</footer>
		</div>
		<div>


			<div class="button">
				<button type="button"><span></span>Subscribe to our mailing</button>
				<button type="button"><span></span>Contact Support</button>
			</div>
		</div>
	</div>
</body>

</html>