<!DOCTYPE html>
<html lang = "en" xmlns:th=“http://www.thymeleaf.org”>
	<head>
		<meta charset = "utf-8">
		<title>Product Page</title>
		<link rel = "stylesheet" type = "text/css" th:href="@{/cssfiles/index.css}">
	</head>
	
	<body>
		<div class = "banner">
			<div class = "navbar">
			<a href="/">
				<img th:src = "@{/images/logo.png}" class = "logo">
			</a>
				<ul>
					<li><a href="/"> Home</a>
				<li>
				<li><a href="/product"> Products</a>
				<li>
				<li><a href="/register_product"> Register Product</a>
				<li>
				<li><a href="/search"> Search Product</a>
				<li>
				<li><a href="/support"> Support</a>
				<li>
				</ul>
			</div>
			
			<div class="card">
              <img th:src="@{/images/product/acer.jpg}" alt="Denim Jeans" style="width:100%">
                 <h2>Acer Aspire 5</h2>
                  <p class="price">$19.99</p>
                  <p><button>Edit</button></p>
            </div>
            
            <div class="card">
              <img th:src="@{/images/product/asus.jpg}" alt="Denim Jeans" style="width:100%">
                 <h2>ASUS ROG Strix G15 Laptop</h2>
                  <p class="price">$19.99</p>
                  <p><button>Edit</button></p>
            </div>
            
            <div class="card">
              <img th:src="@{/images/product/dell.jpg}" alt="Denim Jeans" style="width:100%">
                 <h2>Dell Alienware Area 51M Laptop</h2>
                  <p class="price">$19.99</p>
                  <p><button>Edit</button></p>
            </div>
            
            <div class="card">
              <img th:src="@{/images/product/msi.jpg}" alt="Denim Jeans" style="width:100%">
                 <h2>MSI GL62M 7REX</h2>
                  <p class="price">$19.99</p>
                  <p><button>Edit</button></p>
            </div>
            
			<div class = "bottomnavbar">
				<p> Copyright 2022 </p>
			</div>
		</div>
	</body>
</html>