<!DOCTYPE html>
<html lang = "en" xmlns:th=“http://www.thymeleaf.org”>
	<head>
		<meta charset = "utf-8">
		<title>Search Page</title>
		<link rel = "stylesheet" type = "text/css" th:href="@{/cssfiles/index.css}">
	</head>
	
	<body>
		<div class = "banner">
			<div class = "navbar">
				<a th:href="@{ / }">
				<img th:src = "@{/images/logo.png}" class = "logo">
			</a>
				<ul>
				<li><a th:href="@{ / }"> Home</a><li>
				<li><a th:href="@{ /product }"> Products</a>	<li>
				<li><a th:href="@{ /register_product }"> Register Product</a><li>
				<li><a th:href="@{ /search }"> Search Product</a><li>
				<li><a th:href="@{ /support }"> Support</a><li>
				</ul>
			</div>
			
			<!--Search Button-->
			<div class = "sbutton">
				<button class = "btn" type = "submit">Search</button>
			</div>
			
			<!--Search Bar-->
			<div class = "sbar">
				<input class = "bar" type = "text" placeholder = "E.g Laptop" name = "">
			</div>
		</div>
	</body>
	<footer>
	<p>&#169; Copyright 2022 </p>
	</footer>
</html>